<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derekcoley.laceup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <uses-permission android:name="android.permission.INTERNET" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider177024492679884"
            android:exported="true" />

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
        <activity
            android:name=".Timeline"
            android:label="@string/title_activity_timeline2"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
        <activity
            android:name=".BaseMenu"
            android:label="@string/title_activity_base_menu"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
        <activity
            android:name=".TopCompetitors"
            android:label="@string/title_activity_top_competitors2"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
        <activity
            android:name=".Challenges"
            android:label="@string/title_activity_challenges2"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
        <activity
            android:name=".Card"
            android:label="@string/title_activity_card"
            android:parentActivityName=".Challenges"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.Challenges" />
        </activity>
        <activity
            android:name=".AcceptedChallenges"
            android:label="@string/title_activity_accepted_challenges2"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derekcoley.laceup.MyActivity" />
        </activity>
    </application>

</manifest>
